<% include partials/head %>

    <h3>
        <%= title %>
    </h3>
    <p>
        <h1> Where Information Technology Happens</h1>
    </p>
    <img src="/images/404.png" alt="404">
    
<% include partials/foot %>