<% include partials/head %>

    <div class="container">
        <div class="row">
            <main class="col-md-8">
                <main>
                    <article>
                        <h1>Bbllooggiinngg</h1>
                        <br>
                        <p>Time at CCA.</p>
                        <p>
                            While attending Code Career Academy I am learning front end and back end web devilment . Doing project that are amend at
                            helping developers get a sense of their knowledge of Microsoft stack... There a couple of important,
                            fundamental-ish skill’s that project doesn’t begin to touch on, especially for the front-end
                            and back-end devilments: working with the DOM, and thinking about how to break down and solve
                            real world problems. Without those skills, someone who’s grasped the basic stack –easement might
                            still struggle in a technical examples and practices interviews. I am an entry level developer.
                            I am looking to work alongside other passionate developers. I wish to expand on my current knowledge
                            by working in a real development environment.
                        </p>
                    </article>

                    <article>
                        <% for(var i = 0; i < posts.length; i++){ %>
                            <h1>
                                <a href="/post/<%= posts[i].permalink %>">
                                    <%= posts[i].title %>
                                </a>
                            </h1>
                            <div>
                                <%- posts[i].postContent %>
                            </div>
                            <% } %>
                    </article>

                </main>
            </main>

            <aside class="col-md-4">
                <article id="side">
                    <h2>Tech Quotes</h2>
                    <p>"Technology… the knack of so arranging the world that we don’t have to experience it. “– Max Frisch </p>

                    <p>”Technology made large populations possible; large populations now make technology indispensable. ” –
                        Joseph Wood Krutch</p>

                    <p>”Technology is a useful servant but a dangerous master.” – Christian Lous Lange</p>

                    <p>“The real danger is not that computers will begin to think like men, but that men will begin to think
                        like computers. ” – Sydney Harris</p>

                    <h2>Yepp Q & A</h2>
                    <p>Q:why is </p>
                    <p>A:</p>
                    <br>
                    <p>Q:who is </p>
                    <p>A:</p>
                    <br>
                    <p>Q:what is </p>
                    <p>A:</p>
                    <br>
                    <p>Q:where is </p>
                    <p>A:</p>
                </article>
            </aside>
        </div>
    </div>

    <aside>
        <div>
            <span class="fa-stack fa-lg">
                <a class="nounderline" href="https://www.facebook.com/home.php?">
                    <span class="fa fa-spin fab fa-rebel"></span>
                </a> --</span>
            Facebook
            <br>

            <span class="fa-stack fa-lg">
                <a class="nounderline" href="https://www.linkedin.com/in/shawn-dholakia-kisnad-b5668527/">
                    <span class="far fa-spin fab fa-linkedin"></span>
                </a> --</span>
            Linkedinn
            <br>

            <span class="fa-stack fa-lg">
                <a class="nounderline" href="https://github.com/shawnk17">
                <span class="fa fa-spin fab fa-github"></span>
                </a> --</span>
            GitHub
            <br>
        </div>
    </aside>

    <% include partials/foot %>