<% include partials/head %>

    <form action="/newpost" method="POST">
        <div>
            <label for="title">Title</label>
            <input type="text" id="title" name="title">
        </div>

        <div>
            <label for="permalink">Permalink</label>
            <input type="text" id="permalink" name="permalink">
        </div>
        <div>
            <label for="author">Author</label>
            <input type="text" id="author" name="author">
        </div>

        <h2>Create Post</h2>

        <div>
            <label for="postContent">Post Content</label>
            <textarea id="postContent" name="postContent" rows="20"></textarea>
        </div>

        <div>
            <label for="passphrase">passphrase</label>
            <input type="password" id="passphrase" name="passphrase">
        </div>
        <button class="btn btn-danger navbar-btn" type="submit">Save Post</button>

    </form>

    <script src="/javascripts/tinymce/tinymce.min.js"></script>
    <script type="text/javascript">
        tinymce.init({
            selector: "textarea",
            plugins: "image",

            max_height: 500,
            max_width: 500,
            min_height: 100,
            min_width: 400,

        });
    </script>

    <% include partials/foot %>