<% include partials/head %>

<main>
    <article>
        <h1><%= post.title %></h1>
        <div>
            <%- post.postConent %>
        </div>
    </article>
</main>


<% include partials/foot %>