form{
    margin: o auto;
    width: auto;
    padding: .45rm;

    font-family: 'Cormorant Unicase', serif;
 
    border: 1px dotted purple;
    border-radius: 0;

    margin-bottom: 3%;
    
    background: url(https://subtlepatterns.com/patterns/wood_pattern.png);
}

h3 {
  padding-left: 20px;
  text-transform: uppercase;
}
z
.text {
  outline: none;
}

footer{
    clear: both;
    background-color:palegoldenrod;
}