@import url('https://fonts.googleapis.com/css?family=Slabo+27px');

/* (197, 233, 238, 0.397 body) *//* FFFFFF snow*/

body {
  background-color: rgba(70, 153, 84, 0.212);
  padding: 50px;
  font-family: 'Slabo 27px', serif;
}

#snowflakeContainer {
	position: absolute;
	left: 0px;
	top: 0px;
}
.snowflake {
	padding-left: 15px;
	font-family: 'Slabo 27px', serif;
	font-size: 14px;
	line-height: 24px;
	position: fixed;
	color: rgb(19, 65, 214);
	user-select: none;
	z-index: 1000;
}
.snowflake:hover {
	cursor: default;
}

a {
  color: #00B7FF;
}

div {
    margin: 1rem 0;
}

.nounderline:hover {
    text-decoration: none;
}

footer{
    clear: both;
    background-color:palegoldenrod;
}